server:
  port: 8080

spring:
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver # For MySQL

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
bot:
  name: TeamingBot
  token: ${BOT_TOKEN}
  username: ${BOT_USERNAME}

logging:
  level:
    org.hibernate.loader.entity: TRACE
    org.hibernate.engine.loading.internal.LoadContexts: TRACE

debug: false
