<b>Tasks:</b>

<th:block th:each="member, iterStat : ${members}">
    <b th:text="${iterStat.count} + ' -> ' + ${member.getDisplayName()}"></b>
    <th:block th:if="${#lists.isEmpty(member.tasks)}">
        • No tasks defined!
    </th:block>
    <th:block th:each="task : ${member.tasks}">
        • <b th:text="'Name: ' + ${task.name}"></b>
        • <b th:text="'Description: ' + ${task.description}"></b>
        • <b th:text="'Status: ' + ${task.status}"></b>
        <b>-----------------------------</b>
    </th:block>
</th:block>
